/* == CONTAINER STYLES == */
.ResetPasswordContainer {
    background-color: #FFFFFF20;
    margin: 0 auto; 
    padding: 0;
    width: 30em;
    border-radius: 20px;
    color: white;
    border: 1.6px solid white;
    text-align: left;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(40px);
  }
  
/* == INPUT STYLES == */  
  .ResetPasswordContainer input {
    background-color: transparent;
    width: 32em;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
  }

  .ResetPasswordContainer input::placeholder {
    color: white;
}

/* == TYPOGRAPHY == */

.header {
    padding: 0.6em;
    border-bottom: 1px solid #4840401d;
    margin: 0;
    width: auto;
}

/* == SUB-SECTION STYLE == */

.inputSection {
    padding: 0.6em;
}

.buttonSection {
    display: flex;
    margin-top: 0.4em;
    justify-content: right;
    margin-right: 0.4em;
}

/* == BUTTON STYLES == */

.cancelResetBtn {
    display: inline-block;
    background-color: #b8a9a8;
    color: rgba(89, 89, 89, 0.682);
    border-radius: 10px;
    padding: 0.8em;
    border: none;
    margin-right: 1em;
    margin-top: 0.6em;
    }

    .cancelResetBtn:hover {
    background-color: #9c8f8f;
}

.resetEmailBtn {
    display: inline-block;
    background-color: #C28F8B;
    color: white;
    border-radius: 10px;
    padding: 0.8em;
    border: none;
    margin-top: 0.6em;
    }

    .resetEmailBtn:hover {
    background-color: #9c726f;
}